
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #b5b4e7; 
  color: #333; 
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  height: 100vh;
  justify-content: center;
}


h1.title {
  text-align: center;
  color: #2c3e50; 
  margin: 20px 0;
  font-size: 2.5em; 
}


input[type="text"],
input[type="number"],
textarea,
select {
  width: 100%;
  max-width: 400px; 
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #d1d1d1; 
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  transition: border-color 0.3s, box-shadow 0.3s;
}


input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus,
select:focus {
  border-color:#5536f5; 
  box-shadow: 0 0 5px rgba(85,54,245,255); 
  outline: none; 
}


.Button {
  background-color:#5536f5;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px 5px; 
  transition: background-color 0.3s, transform 0.2s;
  width: calc(100% - 10px); 
}


.Button:hover {
  background-color:#5536f5; 
  transform: translateY(-2px); 
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px; 
  width: 100%;
  max-width: 1200px; 
  margin-top: 20px; 
}


li {
  background-color: white; 
  border-radius: 8px; 
  padding: 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  display: flex;
  flex-direction: column; 
  justify-content: space-between; 
  transition: background-color 0.2s, transform 0.2s; 
}


li:hover {
  background-color: #f1f1f1; 
  transform: scale(1.02); 
}


.display-box {
  flex-grow: 1; 
  padding: 0 10px; 
}


.edit-fields {
  margin-bottom: 10px;
}


.line-through {
  text-decoration: line-through;
  color: #999; 
}


@media (max-width: 600px) {
  input[type="text"],
  input[type="number"],
  textarea,
  select {
    font-size: 14px; 
  }

  .Button {
    width: 100%; 
  }

  .grid-container {
    grid-template-columns: repeat(2, 1fr); 
  }

  li {
    flex-direction: column; 
  }
}
