.App{
  width: 380px;
  height: 190px;
  justify-content: center;
  text-align: center;
  border: none;
  border-radius: 10px;
  margin-top: 300px;
  margin-left: 700px;
  background-color: orangered; 
  color: honeydew;
}

.title{
  color: honeydew;
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
}

.categories{
  color: white;
}

.Button{
  background-color: rgb(23, 119, 23);
  color: whitesmoke;
  border: 1px solid white;
  border-radius: 5px;
  margin-top: 10px;
  gap: 20px;
}

.display-box{
  background-color: goldenrod;
  height: 70px;
  width: 220px;
  margin-left: 80px ;
  border: 1px solid rgb(23, 119, 23);
  border-radius: 10px;
}